.homepage {
    .banner {
        background-image: url(/public/img/Milky\ Way.svg);
        background-repeat: no-repeat;
        background-position: bottom;

        .banner_content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            .banner_left {
                .left_title {
                    padding-bottom: 5rem;
                    span {
                        color: $main_color;
                        font-weight: 700;
                    }
                }
                .button_fill {
                    transition: transform 0.2s;
                }
            }
            .banner_right {
                display: block;
                position: relative;
                .card {
                    transition: transform 0.5s;
                }
                .card1 {
                    width: 321px;
                    height: fit-content;
                    position: absolute;
                    left: 0%;
                    top: 10%;
                    z-index: 1;
                    transform: translate(33%, -20%);
                }
                .card2 {
                    width: 321px;
                    height: fit-content;
                    position: absolute;
                    left: 50%;
                    top: 10%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                }
                .card3 {
                    width: 321px;
                    height: fit-content;
                    position: absolute;
                    right: 0%;
                    top: 10%;
                    z-index: 1;
                    transform: translate(-10%, -10%);
                }
            }
        }
    }
    .support {
        .support_content {
            padding-top: 3.25rem;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 3rem;
            .support_item {
                display: grid;
                justify-items: center;
                padding: 2rem;
                background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                backdrop-filter: blur(10px);
                /* Note: backdrop-filter has minimal browser support */
                border-radius: 1rem;
                transition: 0.5s;

                &:hover {
                    transform: scale(0.9);
                }
                .support_item_circle {
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 100%;
                    padding: 3rem;
                    width: 12rem;
                    height: 12rem;
                }
                .body-xs {
                    padding-top: 2rem;
                }
            }
        }
    }
    .carousel-cover {
        .carousel {
            .carousel-item {
                cursor: pointer;
                width: 350px;
                height: 350px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .info-teams {
                    transition: 0.5s;
                    opacity: 0;
                    position: relative;
                    bottom: 13%;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    background: rgba(0, 0, 0, 0.6);

                    .body-lg-white {
                        text-align: center;
                    }
                }
            }
            .carousel-item.active {
                &:hover {
                    .info-teams {
                        opacity: 1;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    .notifications {
        .title_main {
            .h2-bold {
                font-size: 64px;
            }
        }
        text-align: center;
        .button_fill {
            width: 20%;
            height: fit-content;
            background: #ad1aaf;
            border-radius: 15px;
        }
        .input-field {
            width: 40%;
            border: 2px solid $main_color;
            border-radius: 15px;
            padding: 0.5rem 1rem;
            box-shadow: 0 1px 0 0 $main_hover;
            display: flex;
            margin: 0 auto;
            align-items: center;
        }
        ::placeholder {
            font-size: 1.5rem;
            color: #a48ea9;
        }
        input[type="email"]:not(.browser-default) {
            // border-bottom: 2px solid $main_color;
            border-bottom: none;
            color: #fff;
            font-size: 1.5rem;
            margin: 0;
            box-shadow: none;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}
.video-detail {
    margin-bottom: 30px;
    .video-detail-top {
        a.video {
            position: relative;
            img {
                opacity: 0.3;
                width: 100%;
                height: 80vh;
                object-fit: cover;
                transition: 0.5s;
            }

            .btn-play-video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(173, 26, 175, 0.7) !important;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                line-height: 80px;
                text-align: center;
                color: #fff !important;
                font-size: 30px;
                transition: 0.5s;
                display: inline-block;
                i {
                    font-size: 50px;
                }
                &:hover {
                    background: rgba(79, 4, 80, 0.7) !important;
                }
            }
        }
    }

    .related_video {
        .related_video_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .related_video-item {
                transition: 0.5s;
                height: 300px;
                overflow: hidden;
                position: relative;
                &:hover {
                    .video-title {
                        transform: translateY(10px);
                        opacity: 1;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.7;
                    border-radius: 6px;
                    transition: 0.5s;
                }
                :hover {
                    opacity: 0.3;
                }
                .video-title {
                    position: absolute;
                    bottom: 10%;
                    left: 10%;
                    transform: translateY(200px);
                    opacity: 1;
                    transition: 0.5s;

                    .body-lg-white {
                        margin: 0;
                    }
                }
            }
        }
    }
}
.search-page {
    margin-bottom: 30px;
    .input-search {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 4rem;
        #input {
            color: #fff;
            width: 70%;
            text-align: left;
            padding: 0 0.5rem;
            margin: 0;
            &:focus {
                border-bottom: 1px solid $main_color !important;
                box-shadow: 0 1px 0 0 $main_color;
                outline: $main_color;
            }
        }
        ::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .search-results {
        .search-results-bottom {
            display: grid;
            gap: 1rem;
        }
    }
}

// Responsive

@include X-Small {
    .homepage {
        .banner {
            background-image: url(/public/img/Milky\ Way.svg);
            background-repeat: no-repeat;
            background-position: bottom;

            .banner_content {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                align-items: center;

                .banner_left {
                    .left_title {
                        padding-bottom: 2rem;
                        span {
                            color: $main_color;
                            font-weight: 700;
                        }
                    }
                    .button_fill {
                        transition: transform 0.2s;
                    }
                }
                .banner_right {
                    position: relative;
                    display: none;
                    .card {
                        transition: transform 0.5s;
                    }
                    .card1 {
                        position: absolute;
                        left: -13%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(150%, 12%);
                    }
                    .card2 {
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(0, -0%);
                        z-index: 2;
                    }
                    .card3 {
                        position: absolute;
                        right: -3%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(-52%, 36%);
                    }
                    .card1,
                    .card2,
                    .card3 {
                        width: 160px;
                        height: fit-content;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .support {
            .support_content {
                padding-top: 1rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.5rem;
                .support_item {
                    display: grid;
                    justify-items: center;
                    padding: 0.5rem;
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 1rem;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(0.9);
                    }
                    .support_item_circle {
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 100%;
                        padding: 0.5rem;
                        width: 3rem;
                        height: 3rem;
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .body-xs {
                        padding-top: 2rem;
                    }
                }
            }
        }
        .carousel-cover {
            .carousel {
                height: 200px !important;
                .carousel-item {
                    cursor: pointer;
                    width: 300px;
                    height: 150px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .info-teams {
                        transition: 0.5s;
                        opacity: 0;
                        position: relative;
                        bottom: 13%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        background: rgba(0, 0, 0, 0.6);

                        .body-lg-white {
                            text-align: center;
                        }
                    }
                }
                .carousel-item.active {
                    &:hover {
                        .info-teams {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        .notifications {
            .title_main {
                .h2-bold {
                    font-size: 20px;
                }
            }
            text-align: center;
            .button_fill {
                width: 30%;
                height: fit-content;
                background: #ad1aaf;
                border-radius: 10px;
                padding: 0.75rem;
                img {
                    width: 80%;
                }
            }
            .input-field {
                width: 100%;
                border: 2px solid $main_color;
                border-radius: 6px;
                padding: 0 0.5rem;
                box-shadow: 0 1px 0 0 $main_hover;
                display: flex;
                margin: 0 auto;
                align-items: center;
            }
            ::placeholder {
                font-size: 16px;
                color: #a48ea9;
            }
            input[type="email"]:not(.browser-default) {
                // border-bottom: 2px solid $main_color;
                border-bottom: none;
                color: #fff;
                font-size: 1.5rem;
                margin: 0;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .video-detail {
        margin-bottom: 30px;
        .video-detail-top {
            a.video {
                position: relative;
                img {
                    opacity: 0.3;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s;
                }

                .btn-play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(173, 26, 175, 0.7) !important;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    line-height: 50px;
                    text-align: center;
                    color: #fff !important;
                    font-size: 30px;
                    transition: 0.5s;
                    display: inline-block;
                    i {
                        font-size: 30px;
                    }
                    &:hover {
                        background: rgba(79, 4, 80, 0.7) !important;
                    }
                }
            }
        }

        .related_video {
            .related_video_content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                .related_video-item {
                    transition: 0.5s;
                    height: 200px;
                    overflow: hidden;
                    position: relative;
                    &:hover {
                        .video-title {
                            transform: translateY(10px);
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                        height: 60%;
                        object-fit: cover;
                        opacity: 0.7;
                        border-radius: 6px;
                        transition: 0.5s;
                    }
                    :hover {
                        opacity: 0.3;
                    }
                    .video-title {
                        position: absolute;
                        bottom: 10%;
                        left: 10%;
                        transform: translateY(200px);
                        opacity: 1;
                        transition: 0.5s;

                        .body-lg-white {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .search-page {
        margin-bottom: 30px;
        .input-search {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            margin-bottom: 2rem;
            #input {
                color: #fff;
                width: 70%;
                text-align: left;
                padding: 0 0.5rem;
                margin: 0;
                height: fit-content;
                &:focus {
                    border-bottom: 1px solid $main_color !important;
                    box-shadow: 0 1px 0 0 $main_color;
                    outline: $main_color;
                }
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .search-results {
            .search-results-bottom {
                display: grid;
                gap: 1rem;
            }
        }
    }
}
@include Small {
    .homepage {
        .banner {
            background-image: url(/public/img/Milky\ Way.svg);
            background-repeat: no-repeat;
            background-position: bottom;
            height: 600px;
            .banner_content {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                align-items: center;

                .banner_left {
                    .left_title {
                        padding-bottom: 5rem;
                        span {
                            color: $main_color;
                            font-weight: 700;
                        }
                    }
                    .button_fill {
                        transition: transform 0.2s;
                    }
                }
                .banner_right {
                    display: block;
                    position: relative;
                    .card {
                        transition: transform 0.5s;
                    }
                    .card1 {
                        position: absolute;
                        left: -13%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(150%, 12%);
                    }
                    .card2 {
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(0, -26%);
                        z-index: 2;
                    }
                    .card3 {
                        position: absolute;
                        right: -3%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(-10%, -10%);
                    }
                    .card1,
                    .card2,
                    .card3 {
                        width: 160px;
                        height: fit-content;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .support {
            .support_content {
                padding-top: 1rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 0.5rem;
                .support_item {
                    display: grid;
                    justify-items: center;
                    padding: 0.5rem;
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 1rem;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(0.9);
                    }
                    .support_item_circle {
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 100%;
                        padding: 0.5rem;
                        width: 3rem;
                        height: 3rem;
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .body-xs {
                        padding-top: 2rem;
                    }
                }
            }
        }
        .carousel-cover {
            .carousel {
                height: 200px !important;
                .carousel-item {
                    cursor: pointer;
                    width: 350px;
                    height: 200px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .info-teams {
                        transition: 0.5s;
                        opacity: 0;
                        position: relative;
                        bottom: 13%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        background: rgba(0, 0, 0, 0.6);

                        .body-lg-white {
                            text-align: center;
                        }
                    }
                }
                .carousel-item.active {
                    &:hover {
                        .info-teams {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        .notifications {
            .title_main {
                .h2-bold {
                    font-size: 40px;
                }
            }
            text-align: center;
            .button_fill {
                width: 30%;
                height: fit-content;
                background: #ad1aaf;
                border-radius: 10px;
                padding: 1rem;
                img {
                    width: 60%;
                }
            }
            .input-field {
                width: 80%;
                border: 2px solid $main_color;
                border-radius: 15px;
                padding: 0.5rem 1rem;
                box-shadow: 0 1px 0 0 $main_hover;
                display: flex;
                margin: 0 auto;
                align-items: center;
            }
            ::placeholder {
                font-size: 16px;
                color: #a48ea9;
            }
            input[type="email"]:not(.browser-default) {
                // border-bottom: 2px solid $main_color;
                border-bottom: none;
                color: #fff;
                font-size: 1.5rem;
                margin: 0;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .video-detail {
        margin-bottom: 30px;
        .video-detail-top {
            a.video {
                position: relative;
                img {
                    opacity: 0.3;
                    width: 100%;
                    height: 80vh;
                    object-fit: cover;
                    transition: 0.5s;
                }

                .btn-play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(173, 26, 175, 0.7) !important;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    line-height: 80px;
                    text-align: center;
                    color: #fff !important;
                    font-size: 30px;
                    transition: 0.5s;
                    display: inline-block;
                    i {
                        font-size: 50px;
                    }
                    &:hover {
                        background: rgba(79, 4, 80, 0.7) !important;
                    }
                }
            }
        }

        .related_video {
            .related_video_content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                .related_video-item {
                    transition: 0.5s;
                    height: 200px;
                    overflow: hidden;
                    position: relative;
                    &:hover {
                        .video-title {
                            transform: translateY(10px);
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                        height: 60%;
                        object-fit: cover;
                        opacity: 0.7;
                        border-radius: 6px;
                        transition: 0.5s;
                    }
                    :hover {
                        opacity: 0.3;
                    }
                    .video-title {
                        position: absolute;
                        bottom: 10%;
                        left: 10%;
                        transform: translateY(200px);
                        opacity: 1;
                        transition: 0.5s;

                        .body-lg-white {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .search-page {
        margin-bottom: 30px;
        .input-search {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 4rem;
            #input {
                color: #fff;
                width: 70%;
                text-align: left;
                padding: 0 0.5rem;
                margin: 0;
                &:focus {
                    border-bottom: 1px solid $main_color !important;
                    box-shadow: 0 1px 0 0 $main_color;
                    outline: $main_color;
                }
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .search-results {
            .search-results-bottom {
                display: grid;
                gap: 1rem;
            }
        }
    }
}

@include Medium {
    .homepage {
        .banner {
            background-image: url(/public/img/Milky\ Way.svg);
            background-repeat: no-repeat;
            background-position: bottom;

            .banner_content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;

                .banner_left {
                    .left_title {
                        padding-bottom: 5rem;
                        span {
                            color: $main_color;
                            font-weight: 700;
                        }
                    }
                    .button_fill {
                        transition: transform 0.2s;
                    }
                }
                .banner_right {
                    position: relative;
                    .card {
                        transition: transform 0.5s;
                    }
                    .card1 {
                        position: absolute;
                        left: -13%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(33%, -20%);
                    }
                    .card2 {
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                    }
                    .card3 {
                        position: absolute;
                        right: -3%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(-10%, -10%);
                    }
                    .card1,
                    .card2,
                    .card3 {
                        width: 160px;
                        height: fit-content;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .support {
            .support_content {
                padding-top: 1rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 1rem;
                .support_item {
                    display: grid;
                    justify-items: center;
                    padding: 1rem;
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 1rem;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(0.9);
                    }
                    .support_item_circle {
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 100%;
                        padding: 1rem;
                        width: 5rem;
                        height: 5rem;
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .body-xs {
                        padding-top: 2rem;
                    }
                }
            }
        }
        .carousel-cover {
            .carousel {
                height: 400px !important;
                .carousel-item {
                    cursor: pointer;
                    width: 350px;
                    height: 350px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .info-teams {
                        transition: 0.5s;
                        opacity: 0;
                        position: relative;
                        bottom: 13%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        background: rgba(0, 0, 0, 0.6);

                        .body-lg-white {
                            text-align: center;
                        }
                    }
                }
                .carousel-item.active {
                    &:hover {
                        .info-teams {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        .notifications {
            .title_main {
                .h2-bold {
                    font-size: 50px;
                }
            }
            text-align: center;
            .button_fill {
                width: 20%;
                height: fit-content;
                background: #ad1aaf;
                border-radius: 15px;
            }
            .input-field {
                width: 80%;
                border: 2px solid $main_color;
                border-radius: 15px;
                padding: 0.5rem 1rem;
                box-shadow: 0 1px 0 0 $main_hover;
                display: flex;
                margin: 0 auto;
                align-items: center;
            }
            ::placeholder {
                font-size: 1.5rem;
                color: #a48ea9;
            }
            input[type="email"]:not(.browser-default) {
                // border-bottom: 2px solid $main_color;
                border-bottom: none;
                color: #fff;
                font-size: 1.5rem;
                margin: 0;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .video-detail {
        margin-bottom: 30px;
        .video-detail-top {
            a.video {
                position: relative;
                img {
                    opacity: 0.3;
                    width: 100%;
                    height: 80vh;
                    object-fit: cover;
                    transition: 0.5s;
                }

                .btn-play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(173, 26, 175, 0.7) !important;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    line-height: 80px;
                    text-align: center;
                    color: #fff !important;
                    font-size: 30px;
                    transition: 0.5s;
                    display: inline-block;
                    i {
                        font-size: 50px;
                    }
                    &:hover {
                        background: rgba(79, 4, 80, 0.7) !important;
                    }
                }
            }
        }

        .related_video {
            .related_video_content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                .related_video-item {
                    transition: 0.5s;
                    height: 200px;
                    overflow: hidden;
                    position: relative;
                    &:hover {
                        .video-title {
                            transform: translateY(10px);
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                        height: 60%;
                        object-fit: cover;
                        opacity: 0.7;
                        border-radius: 6px;
                        transition: 0.5s;
                    }
                    :hover {
                        opacity: 0.3;
                    }
                    .video-title {
                        position: absolute;
                        bottom: 10%;
                        left: 10%;
                        transform: translateY(200px);
                        opacity: 1;
                        transition: 0.5s;

                        .body-lg-white {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .search-page {
        margin-bottom: 30px;
        .input-search {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 4rem;
            #input {
                color: #fff;
                width: 70%;
                text-align: left;
                padding: 0 0.5rem;
                margin: 0;
                &:focus {
                    border-bottom: 1px solid $main_color !important;
                    box-shadow: 0 1px 0 0 $main_color;
                    outline: $main_color;
                }
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .search-results {
            .search-results-bottom {
                display: grid;
                gap: 1rem;
            }
        }
    }
}

@include Large {
    .homepage {
        .banner {
            background-image: url(/public/img/Milky\ Way.svg);
            background-repeat: no-repeat;
            background-position: bottom;

            .banner_content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;

                .banner_left {
                    .left_title {
                        padding-bottom: 5rem;
                        span {
                            color: $main_color;
                            font-weight: 700;
                        }
                    }
                    .button_fill {
                        transition: transform 0.2s;
                    }
                }
                .banner_right {
                    position: relative;
                    .card {
                        transition: transform 0.5s;
                    }
                    .card1 {
                        position: absolute;
                        left: -13%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(33%, -20%);
                    }
                    .card2 {
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                    }
                    .card3 {
                        position: absolute;
                        right: -3%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(-10%, -10%);
                    }
                    .card1,
                    .card2,
                    .card3 {
                        width: 200px;
                        height: fit-content;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .support {
            .support_content {
                padding-top: 3.25rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 1rem;
                .support_item {
                    display: grid;
                    justify-items: center;
                    padding: 1rem;
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 1rem;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(0.9);
                    }
                    .support_item_circle {
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 100%;
                        padding: 1rem;
                        width: 5rem;
                        height: 5rem;
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .body-xs {
                        padding-top: 2rem;
                    }
                }
            }
        }
        .carousel-cover {
            .carousel {
                .carousel-item {
                    cursor: pointer;
                    width: 350px;
                    height: 350px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .info-teams {
                        transition: 0.5s;
                        opacity: 0;
                        position: relative;
                        bottom: 13%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        background: rgba(0, 0, 0, 0.6);

                        .body-lg-white {
                            text-align: center;
                        }
                    }
                }
                .carousel-item.active {
                    &:hover {
                        .info-teams {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        .notifications {
            .title_main {
                .h2-bold {
                    font-size: 64px;
                }
            }
            text-align: center;
            .button_fill {
                width: 20%;
                height: fit-content;
                background: #ad1aaf;
                border-radius: 15px;
            }
            .input-field {
                width: 60%;
                border: 2px solid $main_color;
                border-radius: 15px;
                padding: 0.5rem 1rem;
                box-shadow: 0 1px 0 0 $main_hover;
                display: flex;
                margin: 0 auto;
                align-items: center;
            }
            ::placeholder {
                font-size: 1.5rem;
                color: #a48ea9;
            }
            input[type="email"]:not(.browser-default) {
                // border-bottom: 2px solid $main_color;
                border-bottom: none;
                color: #fff;
                font-size: 1.5rem;
                margin: 0;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .video-detail {
        margin-bottom: 30px;
        .video-detail-top {
            a.video {
                position: relative;
                img {
                    opacity: 0.3;
                    width: 100%;
                    height: 80vh;
                    object-fit: cover;
                    transition: 0.5s;
                }

                .btn-play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(173, 26, 175, 0.7) !important;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    line-height: 80px;
                    text-align: center;
                    color: #fff !important;
                    font-size: 30px;
                    transition: 0.5s;
                    display: inline-block;
                    i {
                        font-size: 50px;
                    }
                    &:hover {
                        background: rgba(79, 4, 80, 0.7) !important;
                    }
                }
            }
        }

        .related_video {
            .related_video_content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                .related_video-item {
                    transition: 0.5s;
                    height: 200px;
                    overflow: hidden;
                    position: relative;
                    &:hover {
                        .video-title {
                            transform: translateY(10px);
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                        height: 60%;
                        object-fit: cover;
                        opacity: 0.7;
                        border-radius: 6px;
                        transition: 0.5s;
                    }
                    :hover {
                        opacity: 0.3;
                    }
                    .video-title {
                        position: absolute;
                        bottom: 10%;
                        left: 10%;
                        transform: translateY(200px);
                        opacity: 1;
                        transition: 0.5s;

                        .body-lg-white {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .search-page {
        margin-bottom: 30px;
        .input-search {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 4rem;
            #input {
                color: #fff;
                width: 70%;
                text-align: left;
                padding: 0 0.5rem;
                margin: 0;
                &:focus {
                    border-bottom: 1px solid $main_color !important;
                    box-shadow: 0 1px 0 0 $main_color;
                    outline: $main_color;
                }
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .search-results {
            .search-results-bottom {
                display: grid;
                gap: 1rem;
            }
        }
    }
}
@include X-Large {
    .homepage {
        .banner {
            background-image: url(/public/img/Milky\ Way.svg);
            background-repeat: no-repeat;
            background-position: bottom;

            .banner_content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;

                .banner_left {
                    .left_title {
                        padding-bottom: 5rem;
                        span {
                            color: $main_color;
                            font-weight: 700;
                        }
                    }
                    .button_fill {
                        transition: transform 0.2s;
                    }
                }
                .banner_right {
                    position: relative;
                    .card {
                        transition: transform 0.5s;
                    }
                    .card1 {
                        width: 250px;
                        height: fit-content;
                        position: absolute;
                        left: -13%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(33%, -20%);
                    }
                    .card2 {
                        width: 250px;
                        height: fit-content;
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                    }
                    .card3 {
                        width: 250px;
                        height: fit-content;
                        position: absolute;
                        right: -3%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(-10%, -10%);
                    }
                    .card1,
                    .card2,
                    .card3 {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .support {
            .support_content {
                padding-top: 3.25rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 1rem;
                .support_item {
                    display: grid;
                    justify-items: center;
                    padding: 1rem;
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 1rem;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(0.9);
                    }
                    .support_item_circle {
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 100%;
                        padding: 1rem;
                        width: 5rem;
                        height: 5rem;
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .body-xs {
                        padding-top: 2rem;
                    }
                }
            }
        }
        .carousel-cover {
            .carousel {
                .carousel-item {
                    cursor: pointer;
                    width: 350px;
                    height: 350px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .info-teams {
                        transition: 0.5s;
                        opacity: 0;
                        position: relative;
                        bottom: 13%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        background: rgba(0, 0, 0, 0.6);

                        .body-lg-white {
                            text-align: center;
                        }
                    }
                }
                .carousel-item.active {
                    &:hover {
                        .info-teams {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        .notifications {
            .title_main {
                .h2-bold {
                    font-size: 64px;
                }
            }
            text-align: center;
            .button_fill {
                width: 20%;
                height: fit-content;
                background: #ad1aaf;
                border-radius: 15px;
            }
            .input-field {
                width: 50%;
                border: 2px solid $main_color;
                border-radius: 15px;
                padding: 0.5rem 1rem;
                box-shadow: 0 1px 0 0 $main_hover;
                display: flex;
                margin: 0 auto;
                align-items: center;
            }
            ::placeholder {
                font-size: 1.5rem;
                color: #a48ea9;
            }
            input[type="email"]:not(.browser-default) {
                // border-bottom: 2px solid $main_color;
                border-bottom: none;
                color: #fff;
                font-size: 14px;
                margin: 0;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .video-detail {
        margin-bottom: 30px;
        .video-detail-top {
            a.video {
                position: relative;
                img {
                    opacity: 0.3;
                    width: 100%;
                    height: 80vh;
                    object-fit: cover;
                    transition: 0.5s;
                }

                .btn-play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(173, 26, 175, 0.7) !important;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    line-height: 80px;
                    text-align: center;
                    color: #fff !important;
                    font-size: 30px;
                    transition: 0.5s;
                    display: inline-block;
                    i {
                        font-size: 50px;
                    }
                    &:hover {
                        background: rgba(79, 4, 80, 0.7) !important;
                    }
                }
            }
        }

        .related_video {
            .related_video_content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                .related_video-item {
                    transition: 0.5s;
                    height: 300px;
                    overflow: hidden;
                    position: relative;
                    &:hover {
                        .video-title {
                            transform: translateY(10px);
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                        height: 60%;
                        object-fit: cover;
                        opacity: 0.7;
                        border-radius: 6px;
                        transition: 0.5s;
                    }
                    :hover {
                        opacity: 0.3;
                    }
                    .video-title {
                        position: absolute;
                        bottom: 10%;
                        left: 10%;
                        transform: translateY(200px);
                        opacity: 1;
                        transition: 0.5s;

                        .body-lg-white {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .search-page {
        margin-bottom: 30px;
        .input-search {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 4rem;
            #input {
                color: #fff;
                width: 70%;
                text-align: left;
                padding: 0 0.5rem;
                margin: 0;
                &:focus {
                    border-bottom: 1px solid $main_color !important;
                    box-shadow: 0 1px 0 0 $main_color;
                    outline: $main_color;
                }
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .search-results {
            .search-results-bottom {
                display: grid;
                gap: 1rem;
            }
        }
    }
}

@include XX-Large {
    .homepage {
        .banner {
            background-image: url(/public/img/Milky\ Way.svg);
            background-repeat: no-repeat;
            background-position: bottom;

            .banner_content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;

                .banner_left {
                    .left_title {
                        padding-bottom: 5rem;
                        span {
                            color: $main_color;
                            font-weight: 700;
                        }
                    }
                    .button_fill {
                        transition: transform 0.2s;
                    }
                }
                .banner_right {
                    position: relative;
                    .card {
                        transition: transform 0.5s;
                    }
                    .card1 {
                        width: 321px;
                        height: fit-content;
                        position: absolute;
                        left: -13%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(33%, -20%);
                    }
                    .card2 {
                        width: 321px;
                        height: fit-content;
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                    }
                    .card3 {
                        width: 321px;
                        height: fit-content;
                        position: absolute;
                        right: 0%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(-10%, -10%);
                    }
                }
            }
        }
        .support {
            .support_content {
                padding-top: 3.25rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 1rem;
                .support_item {
                    display: grid;
                    justify-items: center;
                    padding: 1rem;
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 1rem;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(0.9);
                    }
                    .support_item_circle {
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 100%;
                        padding: 2rem;
                        width: 12rem;
                        height: 12rem;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .body-xs {
                        padding-top: 2rem;
                    }
                }
            }
        }
        .carousel-cover {
            .carousel {
                .carousel-item {
                    cursor: pointer;
                    width: 350px;
                    height: 350px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .info-teams {
                        transition: 0.5s;
                        opacity: 0;
                        position: relative;
                        bottom: 13%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        background: rgba(0, 0, 0, 0.6);

                        .body-lg-white {
                            text-align: center;
                        }
                    }
                }
                .carousel-item.active {
                    &:hover {
                        .info-teams {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        .notifications {
            .title_main {
                .h2-bold {
                    font-size: 64px;
                }
            }
            text-align: center;
            .button_fill {
                width: 20%;
                height: fit-content;
                background: #ad1aaf;
                border-radius: 15px;
            }
            .input-field {
                width: 40%;
                border: 2px solid $main_color;
                border-radius: 15px;
                padding: 0.5rem 1rem;
                box-shadow: 0 1px 0 0 $main_hover;
                display: flex;
                margin: 0 auto;
                align-items: center;
            }
            ::placeholder {
                font-size: 1.5rem;
                color: #a48ea9;
            }
            input[type="email"]:not(.browser-default) {
                // border-bottom: 2px solid $main_color;
                border-bottom: none;
                color: #fff;
                font-size: 1.5rem;
                margin: 0;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .video-detail {
        margin-bottom: 30px;
        .video-detail-top {
            a.video {
                position: relative;
                img {
                    opacity: 0.3;
                    width: 100%;
                    height: 80vh;
                    object-fit: cover;
                    transition: 0.5s;
                }

                .btn-play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(173, 26, 175, 0.7) !important;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    line-height: 80px;
                    text-align: center;
                    color: #fff !important;
                    font-size: 30px;
                    transition: 0.5s;
                    display: inline-block;
                    i {
                        font-size: 50px;
                    }
                    &:hover {
                        background: rgba(79, 4, 80, 0.7) !important;
                    }
                }
            }
        }

        .related_video {
            .related_video_content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                .related_video-item {
                    transition: 0.5s;
                    height: 300px;
                    overflow: hidden;
                    position: relative;
                    &:hover {
                        .video-title {
                            transform: translateY(10px);
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                        height: 80%;
                        object-fit: cover;
                        opacity: 0.7;
                        border-radius: 6px;
                        transition: 0.5s;
                    }
                    :hover {
                        opacity: 0.3;
                    }
                    .video-title {
                        position: absolute;
                        bottom: 10%;
                        left: 10%;
                        transform: translateY(200px);
                        opacity: 1;
                        transition: 0.5s;

                        .body-lg-white {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .search-page {
        margin-bottom: 30px;
        .input-search {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 4rem;
            #input {
                color: #fff;
                width: 70%;
                text-align: left;
                padding: 0 0.5rem;
                margin: 0;
                &:focus {
                    border-bottom: 1px solid $main_color !important;
                    box-shadow: 0 1px 0 0 $main_color;
                    outline: $main_color;
                }
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .search-results {
            .search-results-bottom {
                display: grid;
                gap: 1rem;
            }
        }
    }
}

@include XXX-Large {
    .homepage {
        .banner {
            background-image: url(/public/img/Milky\ Way.svg);
            background-repeat: no-repeat;
            background-position: bottom;

            .banner_content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;

                .banner_left {
                    .left_title {
                        padding-bottom: 5rem;
                        span {
                            color: $main_color;
                            font-weight: 700;
                        }
                    }
                    .button_fill {
                        transition: transform 0.2s;
                    }
                }
                .banner_right {
                    position: relative;
                    .card {
                        transition: transform 0.5s;
                    }
                    .card1 {
                        width: 321px;
                        height: fit-content;
                        position: absolute;
                        left: 0%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(0%, -20%);
                    }
                    .card2 {
                        width: 321px;
                        height: fit-content;
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                    }
                    .card3 {
                        width: 321px;
                        height: fit-content;
                        position: absolute;
                        right: 0%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(-10%, -10%);
                    }
                }
            }
        }
        .support {
            .support_content {
                padding-top: 3.25rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 1rem;
                .support_item {
                    display: grid;
                    justify-items: center;
                    padding: 2rem;
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 1rem;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(0.9);
                    }
                    .support_item_circle {
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 100%;
                        padding: 3rem;
                        width: 12rem;
                        height: 12rem;
                    }
                    .body-xs {
                        padding-top: 2rem;
                    }
                }
            }
        }
        .carousel-cover {
            .carousel {
                .carousel-item {
                    cursor: pointer;
                    width: 350px;
                    height: 350px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .info-teams {
                        transition: 0.5s;
                        opacity: 0;
                        position: relative;
                        bottom: 13%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        background: rgba(0, 0, 0, 0.6);

                        .body-lg-white {
                            text-align: center;
                        }
                    }
                }
                .carousel-item.active {
                    &:hover {
                        .info-teams {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        .notifications {
            .title_main {
                .h2-bold {
                    font-size: 64px;
                }
            }
            text-align: center;
            .button_fill {
                width: 20%;
                height: fit-content;
                background: #ad1aaf;
                border-radius: 15px;
            }
            .input-field {
                width: 40%;
                border: 2px solid $main_color;
                border-radius: 15px;
                padding: 0.5rem 1rem;
                box-shadow: 0 1px 0 0 $main_hover;
                display: flex;
                margin: 0 auto;
                align-items: center;
            }
            ::placeholder {
                font-size: 1.5rem;
                color: #a48ea9;
            }
            input[type="email"]:not(.browser-default) {
                // border-bottom: 2px solid $main_color;
                border-bottom: none;
                color: #fff;
                font-size: 1.5rem;
                margin: 0;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .video-detail {
        margin-bottom: 30px;
        .video-detail-top {
            a.video {
                position: relative;
                img {
                    opacity: 0.3;
                    width: 100%;
                    height: 80vh;
                    object-fit: cover;
                    transition: 0.5s;
                }

                .btn-play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(173, 26, 175, 0.7) !important;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    line-height: 80px;
                    text-align: center;
                    color: #fff !important;
                    font-size: 30px;
                    transition: 0.5s;
                    display: inline-block;
                    i {
                        font-size: 50px;
                    }
                    &:hover {
                        background: rgba(79, 4, 80, 0.7) !important;
                    }
                }
            }
        }

        .related_video {
            .related_video_content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                .related_video-item {
                    transition: 0.5s;
                    height: 300px;
                    overflow: hidden;
                    position: relative;
                    &:hover {
                        .video-title {
                            transform: translateY(10px);
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                        height: 80%;
                        object-fit: cover;
                        opacity: 0.7;
                        border-radius: 6px;
                        transition: 0.5s;
                    }
                    :hover {
                        opacity: 0.3;
                    }
                    .video-title {
                        position: absolute;
                        bottom: 10%;
                        left: 10%;
                        transform: translateY(200px);
                        opacity: 1;
                        transition: 0.5s;

                        .body-lg-white {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .search-page {
        margin-bottom: 30px;
        .input-search {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 4rem;
            #input {
                color: #fff;
                width: 70%;
                text-align: left;
                padding: 0 0.5rem;
                margin: 0;
                &:focus {
                    border-bottom: 1px solid $main_color !important;
                    box-shadow: 0 1px 0 0 $main_color;
                    outline: $main_color;
                }
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .search-results {
            .search-results-bottom {
                display: grid;
                gap: 1rem;
            }
        }
    }
}

@include XXXX-Large {
    .homepage {
        .banner {
            background-image: url(/public/img/Milky\ Way.svg);
            background-repeat: no-repeat;
            background-position: bottom;

            .banner_content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;

                .banner_left {
                    .left_title {
                        padding-bottom: 5rem;
                        span {
                            color: $main_color;
                            font-weight: 700;
                        }
                    }
                    .button_fill {
                        transition: transform 0.2s;
                    }
                }
                .banner_right {
                    position: relative;
                    .card {
                        transition: transform 0.5s;
                    }
                    .card1 {
                        width: 321px;
                        height: fit-content;
                        position: absolute;
                        left: 0%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(33%, -20%);
                    }
                    .card2 {
                        width: 321px;
                        height: fit-content;
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                    }
                    .card3 {
                        width: 321px;
                        height: fit-content;
                        position: absolute;
                        right: 0%;
                        top: 10%;
                        z-index: 1;
                        transform: translate(-10%, -10%);
                    }
                }
            }
        }
        .support {
            .support_content {
                padding-top: 3.25rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 3rem;
                .support_item {
                    display: grid;
                    justify-items: center;
                    padding: 2rem;
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 1rem;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(0.9);
                    }
                    .support_item_circle {
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 100%;
                        padding: 3rem;
                        width: 12rem;
                        height: 12rem;
                    }
                    .body-xs {
                        padding-top: 2rem;
                    }
                }
            }
        }
        .carousel-cover {
            .carousel {
                .carousel-item {
                    cursor: pointer;
                    width: 350px;
                    height: 350px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .info-teams {
                        transition: 0.5s;
                        opacity: 0;
                        position: relative;
                        bottom: 13%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        background: rgba(0, 0, 0, 0.6);

                        .body-lg-white {
                            text-align: center;
                        }
                    }
                }
                .carousel-item.active {
                    &:hover {
                        .info-teams {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        .notifications {
            .title_main {
                .h2-bold {
                    font-size: 64px;
                }
            }
            text-align: center;
            .button_fill {
                width: 20%;
                height: fit-content;
                background: #ad1aaf;
                border-radius: 15px;
            }
            .input-field {
                width: 40%;
                border: 2px solid $main_color;
                border-radius: 15px;
                padding: 0.5rem 1rem;
                box-shadow: 0 1px 0 0 $main_hover;
                display: flex;
                margin: 0 auto;
                align-items: center;
            }
            ::placeholder {
                font-size: 1.5rem;
                color: #a48ea9;
            }
            input[type="email"]:not(.browser-default) {
                // border-bottom: 2px solid $main_color;
                border-bottom: none;
                color: #fff;
                font-size: 1.5rem;
                margin: 0;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .video-detail {
        margin-bottom: 30px;
        .video-detail-top {
            a.video {
                position: relative;
                img {
                    opacity: 0.3;
                    width: 100%;
                    height: 80vh;
                    object-fit: cover;
                    transition: 0.5s;
                }

                .btn-play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(173, 26, 175, 0.7) !important;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    line-height: 80px;
                    text-align: center;
                    color: #fff !important;
                    font-size: 30px;
                    transition: 0.5s;
                    display: inline-block;
                    i {
                        font-size: 50px;
                    }
                    &:hover {
                        background: rgba(79, 4, 80, 0.7) !important;
                    }
                }
            }
        }

        .related_video {
            .related_video_content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                .related_video-item {
                    transition: 0.5s;
                    height: 300px;
                    overflow: hidden;
                    position: relative;
                    &:hover {
                        .video-title {
                            transform: translateY(10px);
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0.7;
                        border-radius: 6px;
                        transition: 0.5s;
                    }
                    :hover {
                        opacity: 0.3;
                    }
                    .video-title {
                        position: absolute;
                        bottom: 10%;
                        left: 10%;
                        transform: translateY(200px);
                        opacity: 1;
                        transition: 0.5s;

                        .body-lg-white {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .search-page {
        margin-bottom: 30px;
        .input-search {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 4rem;
            #input {
                color: #fff;
                width: 70%;
                text-align: left;
                padding: 0 0.5rem;
                margin: 0;
                &:focus {
                    border-bottom: 1px solid $main_color !important;
                    box-shadow: 0 1px 0 0 $main_color;
                    outline: $main_color;
                }
            }
            ::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .search-results {
            .search-results-bottom {
                display: grid;
                gap: 1rem;
            }
        }
    }
}
