.card-banner {
    padding: 1rem;
    background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
    border-width: 2.5px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(17.915px);
    border-radius: 41.6667px;
    .card-image,
    .card_title {
        padding-bottom: 1rem;
    }
    .card-content {
        padding: 0;
    }
}
.list_video_content {
    padding-top: 4rem;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // gap: 2rem;
    .card-list-video {
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 15px;
        padding: 0.875rem;
        .card-video-top {
            overflow: hidden;
            border-radius: 15px;
            .video-card__modal-control {
                position: relative;
                // width: 392px;
                width: 100%;
                height: 277px;
                img {
                    overflow: hidden;
                    transform: scale(1);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                .video-badge {
                    position: absolute;
                    top: 0%;
                    right: 0%;
                    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                    backdrop-filter: blur(10px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 0px 15px;
                    padding: 12px 11px;
                    color: #fff;
                    font-size: 1rem;
                    display: flex;
                    gap: 0.5rem;
                }
                .btn-play-video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(173, 26, 175, 0.7) !important;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    line-height: 60px;
                    text-align: center;
                    color: #fff !important;
                    font-size: 30px;
                    transition: 0.5s;
                    &:hover {
                        background: rgba(79, 4, 80, 0.7) !important;
                    }
                }
            }
        }
        .card-content {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 2rem 0;
            .author-name {
            }
        }
        .card-action {
            display: flex;
            justify-content: center;
            .button_border {
                width: 70%;
                text-align: center;
            }
        }
    }
}
.list_author_content {
    padding-top: 4rem;
    position: relative;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // gap: 2rem;

    .card-list-author {
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 15px;
        padding: 1rem;
        .card-author-top {
            display: grid;
            justify-items: center;
            grid-auto-flow: column;
            gap: 0.75rem;
            height: 280px;
            overflow: hidden;
        }
        .card-content {
            .author-avt {
                position: absolute;
                top: 40%;
                left: 14%;
                cursor: pointer;
            }
        }
        .card-action {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: end;
            .author-name {
                cursor: pointer;
                display: grid;
                gap: 0.5rem;
                .card_title {
                    text-align: left;
                    display: flex;
                    gap: 0.25rem;
                    align-items: center;
                    img {
                        width: 12%;
                    }
                }
            }
            .button_circle {
                width: 80%;
            }
        }
    }
}
.video-discription {
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
    .video-discription-left {
        height: 100%;
        img {
            width: 100%;
            height: 242px;
            object-fit: cover;
            opacity: 0.5;
            border-radius: 6px;
            transition: 0.5s;
        }
        .img-noneOpacity {
            opacity: 1;
        }
        :hover {
            opacity: 1;
        }
    }
}

// Responsive
@include X-Small {
    .card-banner {
        padding: 1rem;
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 41.6667px;
        .card-image,
        .card_title {
            padding-bottom: 1rem;
        }
        .card-content {
            padding: 0;
        }
    }
    .list_video_content {
        padding-top: 4rem;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;
        .card-list-video {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 0.875rem;
            .card-video-top {
                overflow: hidden;
                border-radius: 15px;
                .video-card__modal-control {
                    position: relative;
                    // width: 392px;
                    width: 100%;
                    height: 200px;
                    img {
                        overflow: hidden;
                        transform: scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .video-badge {
                        position: absolute;
                        top: 0%;
                        right: 0%;
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 0px 15px;
                        padding: 12px 11px;
                        color: #fff;
                        font-size: 1rem;
                        display: flex;
                        gap: 0.5rem;
                    }
                    .btn-play-video {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: rgba(173, 26, 175, 0.7) !important;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        line-height: 60px;
                        text-align: center;
                        color: #fff !important;
                        font-size: 30px;
                        transition: 0.5s;
                        &:hover {
                            background: rgba(79, 4, 80, 0.7) !important;
                        }
                    }
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 1rem 0;
                .author-name {
                }
            }
            .card-action {
                display: flex;
                justify-content: center;
                .button_border {
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }
    .list_author_content {
        padding-top: 4rem;
        position: relative;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;

        .card-list-author {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 1rem;
            .card-author-top {
                display: grid;
                justify-items: center;
                grid-auto-flow: column;
                gap: 0.75rem;
                height: 280px;
                overflow: hidden;
            }
            .card-content {
                .author-avt {
                    position: absolute;
                    top: 40%;
                    left: 14%;
                    cursor: pointer;
                }
            }
            .card-action {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;
                .author-name {
                    cursor: pointer;
                    display: grid;
                    gap: 0.5rem;
                    .card_title {
                        text-align: left;
                        display: flex;
                        gap: 0.25rem;
                        align-items: center;
                        img {
                            width: 12%;
                        }
                    }
                }
                .button_circle {
                    width: 80%;
                }
            }
        }
    }
    .video-discription {
        display: grid;
        grid-template-columns: 100%;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        .video-discription-left {
            height: 100%;
            img {
                width: 100%;
                height: 242px;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 6px;
                transition: 0.5s;
            }
            .img-noneOpacity {
                opacity: 1;
            }
            :hover {
                opacity: 1;
            }
        }
    }
}
@include Small {
    .card-banner {
        padding: 1rem;
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 41.6667px;
        .card-image,
        .card_title {
            padding-bottom: 1rem;
        }
        .card-content {
            padding: 0;
        }
    }
    .list_video_content {
        padding-top: 4rem;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;
        .card-list-video {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 0.875rem;
            .card-video-top {
                overflow: hidden;
                border-radius: 15px;
                .video-card__modal-control {
                    position: relative;
                    // width: 392px;
                    width: 100%;
                    height: 200px;
                    img {
                        overflow: hidden;
                        transform: scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .video-badge {
                        position: absolute;
                        top: 0%;
                        right: 0%;
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 0px 15px;
                        padding: 12px 11px;
                        color: #fff;
                        font-size: 1rem;
                        display: flex;
                        gap: 0.5rem;
                    }
                    .btn-play-video {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: rgba(173, 26, 175, 0.7) !important;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        line-height: 60px;
                        text-align: center;
                        color: #fff !important;
                        font-size: 30px;
                        transition: 0.5s;
                        &:hover {
                            background: rgba(79, 4, 80, 0.7) !important;
                        }
                    }
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 1rem 0;
                .author-name {
                }
            }
            .card-action {
                display: flex;
                justify-content: center;
                .button_border {
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }
    .list_author_content {
        padding-top: 4rem;
        position: relative;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;

        .card-list-author {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 1rem;
            .card-author-top {
                display: grid;
                justify-items: center;
                grid-auto-flow: column;
                gap: 0.75rem;
                height: 280px;
                overflow: hidden;
            }
            .card-content {
                .author-avt {
                    position: absolute;
                    top: 40%;
                    left: 14%;
                    cursor: pointer;
                }
            }
            .card-action {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: end;
                .author-name {
                    cursor: pointer;
                    display: grid;
                    gap: 0.5rem;
                    .card_title {
                        text-align: left;
                        display: flex;
                        gap: 0.25rem;
                        align-items: center;
                        img {
                            width: 12%;
                        }
                    }
                }
                .button_circle {
                    width: 80%;
                }
            }
        }
    }
    .video-discription {
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        .video-discription-left {
            height: 100%;
            img {
                width: 100%;
                height: 242px;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 6px;
                transition: 0.5s;
            }
            .img-noneOpacity {
                opacity: 1;
            }
            :hover {
                opacity: 1;
            }
        }
    }
}

@include Medium {
    .card-banner {
        padding: 1rem;
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 41.6667px;
        .card-image,
        .card_title {
            padding-bottom: 1rem;
        }
        .card-content {
            padding: 0;
        }
    }
    .list_video_content {
        padding-top: 4rem;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;
        .card-list-video {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 0.875rem;
            .card-video-top {
                overflow: hidden;
                border-radius: 15px;
                .video-card__modal-control {
                    position: relative;
                    // width: 392px;
                    width: 100%;
                    height: 250px;
                    img {
                        overflow: hidden;
                        transform: scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .video-badge {
                        position: absolute;
                        top: 0%;
                        right: 0%;
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 0px 15px;
                        padding: 12px 11px;
                        color: #fff;
                        font-size: 1rem;
                        display: flex;
                        gap: 0.5rem;
                    }
                    .btn-play-video {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: rgba(173, 26, 175, 0.7) !important;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        line-height: 60px;
                        text-align: center;
                        color: #fff !important;
                        font-size: 30px;
                        transition: 0.5s;
                        &:hover {
                            background: rgba(79, 4, 80, 0.7) !important;
                        }
                    }
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 2rem 0;
                .author-name {
                }
            }
            .card-action {
                display: flex;
                justify-content: center;
                .button_border {
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }
    .list_author_content {
        padding-top: 4rem;
        position: relative;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;

        .card-list-author {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 1rem;
            .card-author-top {
                display: grid;
                justify-items: center;
                grid-auto-flow: column;
                gap: 0.75rem;
                height: 280px;
                overflow: hidden;
            }
            .card-content {
                .author-avt {
                    position: absolute;
                    top: 40%;
                    left: 14%;
                    cursor: pointer;
                }
            }
            .card-action {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;
                .author-name {
                    cursor: pointer;
                    display: grid;
                    gap: 0.5rem;
                    .card_title {
                        text-align: left;
                        display: flex;
                        gap: 0.25rem;
                        align-items: center;
                        img {
                            width: 12%;
                        }
                    }
                }
                .button_circle {
                    width: 80%;
                }
            }
        }
    }
    .video-discription {
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        .video-discription-left {
            height: 100%;
            img {
                width: 100%;
                height: 242px;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 6px;
                transition: 0.5s;
            }
            .img-noneOpacity {
                opacity: 1;
            }
            :hover {
                opacity: 1;
            }
        }
    }
}

@include Large {
    .card-banner {
        padding: 1rem;
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 41.6667px;
        .card-image,
        .card_title {
            padding-bottom: 1rem;
        }
        .card-content {
            padding: 0;
        }
    }
    .list_video_content {
        padding-top: 4rem;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;
        .card-list-video {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 0.875rem;
            .card-video-top {
                overflow: hidden;
                border-radius: 15px;
                .video-card__modal-control {
                    position: relative;
                    // width: 392px;
                    width: 100%;
                    height: 250px;
                    img {
                        overflow: hidden;
                        transform: scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .video-badge {
                        position: absolute;
                        top: 0%;
                        right: 0%;
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 0px 15px;
                        padding: 12px 11px;
                        color: #fff;
                        font-size: 1rem;
                        display: flex;
                        gap: 0.5rem;
                    }
                    .btn-play-video {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: rgba(173, 26, 175, 0.7) !important;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        line-height: 60px;
                        text-align: center;
                        color: #fff !important;
                        font-size: 30px;
                        transition: 0.5s;
                        &:hover {
                            background: rgba(79, 4, 80, 0.7) !important;
                        }
                    }
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 2rem 0;
                .author-name {
                }
            }
            .card-action {
                display: flex;
                justify-content: center;
                .button_border {
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }
    .list_author_content {
        padding-top: 4rem;
        position: relative;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;

        .card-list-author {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 1rem;
            .card-author-top {
                display: grid;
                justify-items: center;
                grid-auto-flow: column;
                gap: 0.75rem;
                height: 280px;
                overflow: hidden;
            }
            .card-content {
                .author-avt {
                    position: absolute;
                    top: 40%;
                    left: 14%;
                    cursor: pointer;
                }
            }
            .card-action {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: end;
                .author-name {
                    cursor: pointer;
                    display: grid;
                    gap: 0.5rem;
                    .card_title {
                        text-align: left;
                        display: flex;
                        gap: 0.25rem;
                        align-items: center;
                        img {
                            width: 12%;
                        }
                    }
                }
                .button_circle {
                    width: 80%;
                }
            }
        }
    }
    .video-discription {
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        .video-discription-left {
            height: 100%;
            img {
                width: 100%;
                height: 242px;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 6px;
                transition: 0.5s;
            }
            .img-noneOpacity {
                opacity: 1;
            }
            :hover {
                opacity: 1;
            }
        }
    }
}
@include X-Large {
    .card-banner {
        padding: 1rem;
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 41.6667px;
        .card-image,
        .card_title {
            padding-bottom: 1rem;
        }
        .card-content {
            padding: 0;
        }
    }
    .list_video_content {
        padding-top: 4rem;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;
        .card-list-video {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 0.875rem;
            .card-video-top {
                overflow: hidden;
                border-radius: 15px;
                .video-card__modal-control {
                    position: relative;
                    // width: 392px;
                    width: 100%;
                    height: 250px;
                    img {
                        overflow: hidden;
                        transform: scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .video-badge {
                        position: absolute;
                        top: 0%;
                        right: 0%;
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 0px 15px;
                        padding: 12px 11px;
                        color: #fff;
                        font-size: 1rem;
                        display: flex;
                        gap: 0.5rem;
                    }
                    .btn-play-video {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: rgba(173, 26, 175, 0.7) !important;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        line-height: 60px;
                        text-align: center;
                        color: #fff !important;
                        font-size: 30px;
                        transition: 0.5s;
                        &:hover {
                            background: rgba(79, 4, 80, 0.7) !important;
                        }
                    }
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 2rem 0;
                .author-name {
                }
            }
            .card-action {
                display: flex;
                justify-content: center;
                .button_border {
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }

    .video-discription {
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        .video-discription-left {
            height: 100%;
            img {
                width: 100%;
                height: 242px;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 6px;
                transition: 0.5s;
            }
            .img-noneOpacity {
                opacity: 1;
            }
            :hover {
                opacity: 1;
            }
        }
    }
}

@include XX-Large {
    .card-banner {
        padding: 1rem;
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 41.6667px;
        .card-image,
        .card_title {
            padding-bottom: 1rem;
        }
        .card-content {
            padding: 0;
        }
    }
    .list_video_content {
        padding-top: 4rem;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;
        .card-list-video {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 0.875rem;
            .card-video-top {
                overflow: hidden;
                border-radius: 15px;
                .video-card__modal-control {
                    position: relative;
                    // width: 392px;
                    width: 100%;
                    height: 250px;
                    img {
                        overflow: hidden;
                        transform: scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .video-badge {
                        position: absolute;
                        top: 0%;
                        right: 0%;
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 0px 15px;
                        padding: 12px 11px;
                        color: #fff;
                        font-size: 1rem;
                        display: flex;
                        gap: 0.5rem;
                    }
                    .btn-play-video {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: rgba(173, 26, 175, 0.7) !important;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        line-height: 60px;
                        text-align: center;
                        color: #fff !important;
                        font-size: 30px;
                        transition: 0.5s;
                        &:hover {
                            background: rgba(79, 4, 80, 0.7) !important;
                        }
                    }
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 2rem 0;
                .author-name {
                }
            }
            .card-action {
                display: flex;
                justify-content: center;
                .button_border {
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }

    .video-discription {
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        .video-discription-left {
            height: 100%;
            img {
                width: 100%;
                height: 242px;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 6px;
                transition: 0.5s;
            }
            .img-noneOpacity {
                opacity: 1;
            }
            :hover {
                opacity: 1;
            }
        }
    }
}

@include XXX-Large {
    .card-banner {
        padding: 1rem;
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 41.6667px;
        .card-image,
        .card_title {
            padding-bottom: 1rem;
        }
        .card-content {
            padding: 0;
        }
    }
    .list_video_content {
        padding-top: 4rem;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;
        .card-list-video {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 0.875rem;
            .card-video-top {
                overflow: hidden;
                border-radius: 15px;
                .video-card__modal-control {
                    position: relative;
                    // width: 392px;
                    width: 100%;
                    height: 277px;
                    img {
                        overflow: hidden;
                        transform: scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .video-badge {
                        position: absolute;
                        top: 0%;
                        right: 0%;
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 0px 15px;
                        padding: 12px 11px;
                        color: #fff;
                        font-size: 1rem;
                        display: flex;
                        gap: 0.5rem;
                    }
                    .btn-play-video {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: rgba(173, 26, 175, 0.7) !important;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        line-height: 60px;
                        text-align: center;
                        color: #fff !important;
                        font-size: 30px;
                        transition: 0.5s;
                        &:hover {
                            background: rgba(79, 4, 80, 0.7) !important;
                        }
                    }
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 2rem 0;
                .author-name {
                }
            }
            .card-action {
                display: flex;
                justify-content: center;
                .button_border {
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }

    .video-discription {
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        .video-discription-left {
            height: 100%;
            img {
                width: 100%;
                height: 242px;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 6px;
                transition: 0.5s;
            }
            .img-noneOpacity {
                opacity: 1;
            }
            :hover {
                opacity: 1;
            }
        }
    }
}

@include XXXX-Large {
    .card-banner {
        padding: 1rem;
        background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
        border-width: 2.5px 0px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(17.915px);
        border-radius: 41.6667px;
        .card-image,
        .card_title {
            padding-bottom: 1rem;
        }
        .card-content {
            padding: 0;
        }
    }
    .list_video_content {
        padding-top: 4rem;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;
        .card-list-video {
            background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
            border-width: 2.5px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(17.915px);
            border-radius: 15px;
            padding: 0.875rem;
            .card-video-top {
                overflow: hidden;
                border-radius: 15px;
                .video-card__modal-control {
                    position: relative;
                    // width: 392px;
                    width: 100%;
                    height: 277px;
                    img {
                        overflow: hidden;
                        transform: scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .video-badge {
                        position: absolute;
                        top: 0%;
                        right: 0%;
                        background: linear-gradient(
                            147.75deg,
                            rgba(255, 255, 255, 0.1) 0%,
                            rgba(255, 255, 255, 0.05) 100%
                        );
                        backdrop-filter: blur(10px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 0px 15px;
                        padding: 12px 11px;
                        color: #fff;
                        font-size: 1rem;
                        display: flex;
                        gap: 0.5rem;
                    }
                    .btn-play-video {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: rgba(173, 26, 175, 0.7) !important;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        line-height: 60px;
                        text-align: center;
                        color: #fff !important;
                        font-size: 30px;
                        transition: 0.5s;
                        &:hover {
                            background: rgba(79, 4, 80, 0.7) !important;
                        }
                    }
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 2rem 0;
                .author-name {
                }
            }
            .card-action {
                display: flex;
                justify-content: center;
                .button_border {
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }

    .video-discription {
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        .video-discription-left {
            height: 100%;
            img {
                width: 100%;
                height: 242px;
                object-fit: cover;
                opacity: 0.5;
                border-radius: 6px;
                transition: 0.5s;
            }
            .img-noneOpacity {
                opacity: 1;
            }
            :hover {
                opacity: 1;
            }
        }
    }
}
