.header {
    .header_content {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        justify-content: space-between;
        .nav_right {
            display: grid;
            grid-template-columns: 80% 20%;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
            height: fit-content;
            padding: 0.25rem 1rem;
            input {
                border-bottom: 1px solid $main_color;
                color: #fff;
                height: 2rem;
                margin: 0;
                padding: 0 0.25rem;
            }
            ::placeholder {
                color: #a48ea9;
            }
            [type="text"]:focus {
                border-bottom: 1px solid $main_hover;
                box-shadow: 0 1px 0 0 $main_hover;
            }
            button {
                background: transparent;
                color: $main_color;
                border: transparent;
                transition: 0.5s;
                &:hover {
                    color: $main_hover;
                }
            }
            :focus {
                box-shadow: none;
            }
        }
    }
}
.footer {
    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.005) 100%);
    backdrop-filter: blur(10px);
    padding: 24px 0;
    .page_footer_brand {
    }
    .page_footer_content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        .footer_column {
            .body-sm {
                font-family: "Lato";
                text-align: left;
                color: #96839b;
                span {
                    color: $main_color !important;
                    display: inline-block;
                }
            }
            .footer_social {
                display: flex;
                gap: 1rem;
                margin: 2.5rem 0;
            }
            ul {
                display: grid;
                justify-content: center;
                .caption {
                    color: #fff;
                    font-weight: 500;
                }
                li {
                    line-height: 180%;
                    list-style: none;
                    color: #96839b;
                    padding-bottom: 1rem;
                }
            }
        }
        // :nth-of-type(2) {
        //     .body-sm:nth-of-type(2) {
        //         font-size: 18px;
        //     }
        // }
    }
}

@include X-Small {
    .header {
        .header_content {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 100%;
            align-items: center;
            justify-content: space-between;
            .nav_brand {
                img {
                    width: 40%;
                    height: fit-content;
                }
            }
            .nav_right {
                display: grid;
                grid-template-columns: 80% 20%;
                justify-content: space-between;
                justify-items: center;
                align-items: center;
                height: fit-content;
                padding: 0.25rem 1rem;
                input {
                    border-bottom: 1px solid $main_color;
                    color: #fff;
                    height: 2rem;
                    margin: 0;
                    padding: 0 0.25rem;
                }
                ::placeholder {
                    color: #a48ea9;
                    font-size: 14px;
                }
                [type="text"]:focus {
                    border-bottom: 1px solid $main_hover;
                    box-shadow: 0 1px 0 0 $main_hover;
                }
                button {
                    background: transparent;
                    color: $main_color;
                    border: transparent;
                    transition: 0.5s;
                    &:hover {
                        color: $main_hover;
                    }
                }
                :focus {
                    box-shadow: none;
                }
            }
        }
    }
    .footer {
        background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.005) 100%);
        backdrop-filter: blur(10px);
        padding: 24px 0;
        .page_footer_brand {
        }
        .page_footer_content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            .footer_column {
                img {
                    width: 90%;
                }
                .body-sm {
                    font-family: "Lato";
                    text-align: left;
                    color: #96839b;
                    span {
                        color: $main_color !important;
                        display: inline-block;
                    }
                }
                .footer_social {
                    display: flex;
                    gap: 0.5rem;
                    margin: 1rem 0;
                    align-items: center;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                ul {
                    display: grid;
                    justify-content: center;
                    .caption {
                        color: #fff;
                        font-weight: 500;
                    }
                    li {
                        line-height: 180%;
                        list-style: none;
                        color: #96839b;
                        padding-bottom: 1rem;
                    }
                }
            }
            // :nth-of-type(2) {
            //     .body-sm:nth-of-type(2) {
            //         font-size: 18px;
            //     }
            // }
        }
    }
}
@include Small {
    .header {
        .header_content {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            justify-content: space-between;
            .nav_brand {
                img {
                    width: 50%;
                    height: fit-content;
                }
            }
            .nav_right {
                display: grid;
                grid-template-columns: 80% 20%;
                justify-content: space-between;
                justify-items: center;
                align-items: center;
                height: fit-content;
                padding: 0.25rem 1rem;
                input {
                    border-bottom: 1px solid $main_color;
                    color: #fff;
                    height: 2rem;
                    margin: 0;
                    padding: 0 0.25rem;
                }
                ::placeholder {
                    color: #a48ea9;
                }
                [type="text"]:focus {
                    border-bottom: 1px solid $main_hover;
                    box-shadow: 0 1px 0 0 $main_hover;
                }
                button {
                    background: transparent;
                    color: $main_color;
                    border: transparent;
                    transition: 0.5s;
                    &:hover {
                        color: $main_hover;
                    }
                }
                :focus {
                    box-shadow: none;
                }
            }
        }
    }
    .footer {
        background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.005) 100%);
        backdrop-filter: blur(10px);
        padding: 24px 0;
        .page_footer_brand {
        }
        .page_footer_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .footer_column {
                img {
                    width: 90%;
                }
                .body-sm {
                    font-family: "Lato";
                    text-align: left;
                    color: #96839b;
                    span {
                        color: $main_color !important;
                        display: inline-block;
                    }
                }
                .footer_social {
                    display: flex;
                    gap: 0.5rem;
                    margin: 1rem 0;
                    align-items: center;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                ul {
                    display: grid;
                    justify-content: center;
                    .caption {
                        color: #fff;
                        font-weight: 500;
                    }
                    li {
                        line-height: 180%;
                        list-style: none;
                        color: #96839b;
                        padding-bottom: 1rem;
                    }
                }
            }
            // :nth-of-type(2) {
            //     .body-sm:nth-of-type(2) {
            //         font-size: 18px;
            //     }
            // }
        }
    }
}

@include Medium {
    .header {
        .header_content {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 60% 40%;
            align-items: center;
            justify-content: space-between;
            .nav_brand {
                img {
                    width: 30%;
                }
            }
            .nav_right {
                display: grid;
                grid-template-columns: 80% 20%;
                justify-content: space-between;
                justify-items: center;
                align-items: center;
                height: fit-content;
                padding: 0.25rem 1rem;
                input {
                    border-bottom: 1px solid $main_color;
                    color: #fff;
                    height: 2rem;
                    margin: 0;
                    padding: 0 0.25rem;
                }
                ::placeholder {
                    color: #a48ea9;
                }
                [type="text"]:focus {
                    border-bottom: 1px solid $main_hover;
                    box-shadow: 0 1px 0 0 $main_hover;
                }
                button {
                    background: transparent;
                    color: $main_color;
                    border: transparent;
                    transition: 0.5s;
                    &:hover {
                        color: $main_hover;
                    }
                }
                :focus {
                    box-shadow: none;
                }
            }
        }
    }
    .footer {
        background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.005) 100%);
        backdrop-filter: blur(10px);
        padding: 24px 0;
        .page_footer_brand {
        }
        .page_footer_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .footer_column {
                img {
                    width: 70%;
                }
                .body-sm {
                    font-family: "Lato";
                    text-align: left;
                    color: #96839b;
                    span {
                        color: $main_color !important;
                        display: inline-block;
                    }
                }
                .footer_social {
                    display: flex;
                    gap: 0.5rem;
                    margin: 1rem 0;
                    align-items: center;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
                ul {
                    display: grid;
                    justify-content: center;
                    .caption {
                        color: #fff;
                        font-weight: 500;
                    }
                    li {
                        line-height: 180%;
                        list-style: none;
                        color: #96839b;
                        padding-bottom: 1rem;
                    }
                }
            }
            // :nth-of-type(2) {
            //     .body-sm:nth-of-type(2) {
            //         font-size: 18px;
            //     }
            // }
        }
    }
}

@include Large {
    .header {
        .header_content {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 60% 40%;
            align-items: center;
            justify-content: space-between;
            .nav_brand {
                img {
                    width: 20%;
                }
            }
            .nav_right {
                display: grid;
                grid-template-columns: 80% 20%;
                justify-content: space-between;
                justify-items: center;
                align-items: center;
                height: fit-content;
                padding: 0.25rem 1rem;
                input {
                    border-bottom: 1px solid $main_color;
                    color: #fff;
                    height: 2rem;
                    margin: 0;
                    padding: 0 0.25rem;
                }
                ::placeholder {
                    color: #a48ea9;
                }
                [type="text"]:focus {
                    border-bottom: 1px solid $main_hover;
                    box-shadow: 0 1px 0 0 $main_hover;
                }
                button {
                    background: transparent;
                    color: $main_color;
                    border: transparent;
                    transition: 0.5s;
                    &:hover {
                        color: $main_hover;
                    }
                }
                :focus {
                    box-shadow: none;
                }
            }
        }
    }
    .footer {
        background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.005) 100%);
        backdrop-filter: blur(10px);
        padding: 24px 0;
        .page_footer_brand {
        }
        .page_footer_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .footer_column {
                img {
                    width: 70%;
                }
                .body-sm {
                    font-family: "Lato";
                    text-align: left;
                    color: #96839b;
                    span {
                        color: $main_color !important;
                        display: inline-block;
                    }
                }
                .footer_social {
                    display: flex;
                    gap: 1rem;
                    margin: 2.5rem 0;
                    img {
                        width: fit-content;
                    }
                }
                ul {
                    display: grid;
                    justify-content: center;
                    .caption {
                        color: #fff;
                        font-weight: 500;
                    }
                    li {
                        line-height: 180%;
                        list-style: none;
                        color: #96839b;
                        padding-bottom: 1rem;
                    }
                }
            }
            // :nth-of-type(2) {
            //     .body-sm:nth-of-type(2) {
            //         font-size: 18px;
            //     }
            // }
        }
    }
}
@include X-Large {
    .header {
        .header_content {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 70% 30%;
            align-items: center;
            justify-content: space-between;
            .nav_brand {
                img {
                    width: 20%;
                }
            }
            .nav_right {
                display: grid;
                grid-template-columns: 80% 20%;
                justify-content: space-between;
                justify-items: center;
                align-items: center;
                height: fit-content;
                padding: 0.25rem 1rem;
                input {
                    border-bottom: 1px solid $main_color;
                    color: #fff;
                    height: 2rem;
                    margin: 0;
                    padding: 0 0.25rem;
                }
                ::placeholder {
                    color: #a48ea9;
                }
                [type="text"]:focus {
                    border-bottom: 1px solid $main_hover;
                    box-shadow: 0 1px 0 0 $main_hover;
                }
                button {
                    background: transparent;
                    color: $main_color;
                    border: transparent;
                    transition: 0.5s;
                    &:hover {
                        color: $main_hover;
                    }
                }
                :focus {
                    box-shadow: none;
                }
            }
        }
    }
    .footer {
        background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.005) 100%);
        backdrop-filter: blur(10px);
        padding: 24px 0;
        .page_footer_brand {
        }
        .page_footer_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .footer_column {
                img {
                    width: 70%;
                }
                .body-sm {
                    font-family: "Lato";
                    text-align: left;
                    color: #96839b;
                    span {
                        color: $main_color !important;
                        display: inline-block;
                    }
                }
                .footer_social {
                    display: flex;
                    gap: 1rem;
                    margin: 2.5rem 0;
                    img {
                        width: fit-content;
                    }
                }
                ul {
                    display: grid;
                    justify-content: center;
                    .caption {
                        color: #fff;
                        font-weight: 500;
                    }
                    li {
                        line-height: 180%;
                        list-style: none;
                        color: #96839b;
                        padding-bottom: 1rem;
                    }
                }
            }
            // :nth-of-type(2) {
            //     .body-sm:nth-of-type(2) {
            //         font-size: 18px;
            //     }
            // }
        }
    }
}

@include XX-Large {
    .header {
        .header_content {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 70% 30%;
            align-items: center;
            justify-content: space-between;
            .nav_brand {
                img {
                    width: 20%;
                }
            }
            .nav_right {
                display: grid;
                grid-template-columns: 80% 20%;
                justify-content: space-between;
                justify-items: center;
                align-items: center;
                height: fit-content;
                padding: 0.25rem 1rem;
                input {
                    border-bottom: 1px solid $main_color;
                    color: #fff;
                    height: 2rem;
                    margin: 0;
                    padding: 0 0.25rem;
                }
                ::placeholder {
                    color: #a48ea9;
                }
                [type="text"]:focus {
                    border-bottom: 1px solid $main_hover;
                    box-shadow: 0 1px 0 0 $main_hover;
                }
                button {
                    background: transparent;
                    color: $main_color;
                    border: transparent;
                    transition: 0.5s;
                    &:hover {
                        color: $main_hover;
                    }
                }
                :focus {
                    box-shadow: none;
                }
            }
        }
    }
    .footer {
        background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.005) 100%);
        backdrop-filter: blur(10px);
        padding: 24px 0;
        .page_footer_brand {
        }
        .page_footer_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .footer_column {
                .body-sm {
                    font-family: "Lato";
                    text-align: left;
                    color: #96839b;
                    span {
                        color: $main_color !important;
                        display: inline-block;
                    }
                }
                .footer_social {
                    display: flex;
                    gap: 1rem;
                    margin: 2.5rem 0;
                }
                ul {
                    display: grid;
                    justify-content: center;
                    .caption {
                        color: #fff;
                        font-weight: 500;
                    }
                    li {
                        line-height: 180%;
                        list-style: none;
                        color: #96839b;
                        padding-bottom: 1rem;
                    }
                }
            }
            // :nth-of-type(2) {
            //     .body-sm:nth-of-type(2) {
            //         font-size: 18px;
            //     }
            // }
        }
    }
}

@include XXX-Large {
    .header {
        .header_content {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 70% 30%;
            align-items: center;
            justify-content: space-between;
            .nav_right {
                display: grid;
                grid-template-columns: 80% 20%;
                justify-content: space-between;
                justify-items: center;
                align-items: center;
                height: fit-content;
                padding: 0.25rem 1rem;
                input {
                    border-bottom: 1px solid $main_color;
                    color: #fff;
                    height: 2rem;
                    margin: 0;
                    padding: 0 0.25rem;
                }
                ::placeholder {
                    color: #a48ea9;
                }
                [type="text"]:focus {
                    border-bottom: 1px solid $main_hover;
                    box-shadow: 0 1px 0 0 $main_hover;
                }
                button {
                    background: transparent;
                    color: $main_color;
                    border: transparent;
                    transition: 0.5s;
                    &:hover {
                        color: $main_hover;
                    }
                }
                :focus {
                    box-shadow: none;
                }
            }
        }
    }
    .footer {
        background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.005) 100%);
        backdrop-filter: blur(10px);
        padding: 24px 0;
        .page_footer_brand {
        }
        .page_footer_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .footer_column {
                .body-sm {
                    font-family: "Lato";
                    text-align: left;
                    color: #96839b;
                    span {
                        color: $main_color !important;
                        display: inline-block;
                    }
                }
                .footer_social {
                    display: flex;
                    gap: 1rem;
                    margin: 2.5rem 0;
                }
                ul {
                    display: grid;
                    justify-content: center;
                    .caption {
                        color: #fff;
                        font-weight: 500;
                    }
                    li {
                        line-height: 180%;
                        list-style: none;
                        color: #96839b;
                        padding-bottom: 1rem;
                    }
                }
            }
            // :nth-of-type(2) {
            //     .body-sm:nth-of-type(2) {
            //         font-size: 18px;
            //     }
            // }
        }
    }
}

@include XXXX-Large {
    .header {
        .header_content {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 70% 30%;
            align-items: center;
            justify-content: space-between;
            .nav_right {
                display: grid;
                grid-template-columns: 80% 20%;
                justify-content: space-between;
                justify-items: center;
                align-items: center;
                height: fit-content;
                padding: 0.25rem 1rem;
                input {
                    border-bottom: 1px solid $main_color;
                    color: #fff;
                    height: 2rem;
                    margin: 0;
                    padding: 0 0.25rem;
                }
                ::placeholder {
                    color: #a48ea9;
                }
                [type="text"]:focus {
                    border-bottom: 1px solid $main_hover;
                    box-shadow: 0 1px 0 0 $main_hover;
                }
                button {
                    background: transparent;
                    color: $main_color;
                    border: transparent;
                    transition: 0.5s;
                    &:hover {
                        color: $main_hover;
                    }
                }
                :focus {
                    box-shadow: none;
                }
            }
        }
    }
    .footer {
        background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.005) 100%);
        backdrop-filter: blur(10px);
        padding: 24px 0;
        .page_footer_brand {
        }
        .page_footer_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .footer_column {
                .body-sm {
                    font-family: "Lato";
                    text-align: left;
                    color: #96839b;
                    span {
                        color: $main_color !important;
                        display: inline-block;
                    }
                }
                .footer_social {
                    display: flex;
                    gap: 1rem;
                    margin: 2.5rem 0;
                }
                ul {
                    display: grid;
                    justify-content: center;
                    .caption {
                        color: #fff;
                        font-weight: 500;
                    }
                    li {
                        line-height: 180%;
                        list-style: none;
                        color: #96839b;
                        padding-bottom: 1rem;
                    }
                }
            }
            // :nth-of-type(2) {
            //     .body-sm:nth-of-type(2) {
            //         font-size: 18px;
            //     }
            // }
        }
    }
}
