@mixin h1-bold {
    font-family: "Oxanium";
    font-size: 4rem;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    @include X-Small {
        font-size: 28px;
        margin: 0;
    }
    @include Small {
        font-size: 38px;
        margin: 0;
    }

    @include Medium {
        font-size: 40px;
    }

    @include Large {
        font-size: 46px;
    }
    @include X-Large {
        font-size: 50px;
    }

    @include XX-Large {
        font-size: 52px;
    }

    @include XXX-Large {
        font-size: 58px;
    }

    @include XXXX-Large {
        font-size: 64px;
    }
}
@mixin h2-bold {
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 200%;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    @include X-Small {
        font-size: 26px;
        margin: 0;
    }
    @include Small {
        font-size: 40px;
        margin: 0;
    }

    @include Medium {
        font-size: 50px;
        margin: 0;
    }

    @include Large {
        font-size: 60px;
        margin: 0;
    }
    @include X-Large {
        font-size: 70px;
    }

    @include XX-Large {
        font-size: 80px;
    }

    @include XXX-Large {
        font-size: 90px;
    }

    @include XXXX-Large {
        font-size: 100px;
    }
}
@mixin h3-bold {
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 180%;
    text-transform: capitalize;
    color: #ffffff;
    @include X-Small {
        font-size: 34px;
    }
    @include Small {
        font-size: 36px;
    }

    @include Medium {
        font-size: 38px;
    }

    @include Large {
        font-size: 40px;
    }
    @include X-Large {
        font-size: 42px;
    }

    @include XX-Large {
        font-size: 44px;
    }

    @include XXX-Large {
        font-size: 46px;
    }

    @include XXXX-Large {
        font-size: 46px;
    }
}
@mixin body-lg {
    /* body-lg */
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 180%;
    /* identical to box height */
    text-transform: capitalize;
    background: linear-gradient(90.13deg, #ffffff 0%, #f81dfb 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    @include X-Small {
        font-size: 11px;
    }
    @include Small {
        font-size: 13px;
    }

    @include Medium {
        font-size: 15px;
    }

    @include Large {
        font-size: 17px;
    }
    @include X-Large {
        font-size: 19px;
    }

    @include XX-Large {
        font-size: 21px;
    }

    @include XXX-Large {
        font-size: 23px;
    }

    @include XXXX-Large {
        font-size: 25px;
    }
}
@mixin body-lg-white {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 180%;
    /* identical to box height */
    text-transform: capitalize;
    color: #fff;
    text-align: left;
    @include X-Small {
        font-size: 11px;
    }
    @include Small {
        font-size: 13px;
    }

    @include Medium {
        font-size: 15px;
    }

    @include Large {
        font-size: 17px;
    }
    @include X-Large {
        font-size: 19px;
    }

    @include XX-Large {
        font-size: 21px;
    }

    @include XXX-Large {
        font-size: 23px;
    }

    @include XXXX-Large {
        font-size: 25px;
    }
}

@mixin body-sm {
    //styleName: body-xs;
    font-family: "Oxanium";
    font-size: 20px;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin: 0;
    @include X-Small {
        font-size: 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 14px;
    }
    @include X-Large {
        font-size: 16px;
    }

    @include XX-Large {
        font-size: 18px;
    }

    @include XXX-Large {
        font-size: 20px;
    }

    @include XXXX-Large {
        font-size: 20px;
    }
}
@mixin caption {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 300;
    line-height: 180%;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    text-transform: capitalize;
    @include X-Small {
        font-size: 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 14px;
    }
    @include X-Large {
        font-size: 18px;
    }

    @include XX-Large {
        font-size: 20px;
    }

    @include XXX-Large {
        font-size: 22px;
    }

    @include XXXX-Large {
        font-size: 24px;
    }
}

@mixin dcs-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.07em;
    color: #ffffff;
    margin-bottom: 0;
    @include X-Small {
        font-size: 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 14px;
    }
    @include X-Large {
        font-size: 16px;
    }

    @include XX-Large {
        font-size: 18px;
    }

    @include XXX-Large {
        font-size: 20px;
    }

    @include XXXX-Large {
        font-size: 20px;
    }
}
@mixin dcs-body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.07em;
    color: #868686;
    margin-bottom: 0;
    @include X-Small {
        font-size: 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 14px;
    }
    @include X-Large {
        font-size: 16px;
    }

    @include XX-Large {
        font-size: 18px;
    }

    @include XXX-Large {
        font-size: 18px;
    }

    @include XXXX-Large {
        font-size: 18px;
    }
}
@mixin link-main {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.07em;
    color: rgba(255, 212, 105, 1);
    text-decoration: dashed;
    margin-bottom: 0;
    @include X-Small {
        font-size: 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 14px;
    }
    @include X-Large {
        font-size: 16px;
    }

    @include XX-Large {
        font-size: 18px;
    }

    @include XXX-Large {
        font-size: 20px;
    }

    @include XXXX-Large {
        font-size: 20px;
    }
}
@mixin button_fill {
    background: linear-gradient(180deg, #ad1aaf 0%, rgba(173, 26, 175, 0) 100%);
    border-radius: 4px;
    padding: 15px 29px;
    font-family: "Oxanium";
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    border: transparent;
    @include X-Small {
        font-size: 12px;
        padding: 4px 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 14px;
    }
    @include X-Large {
        font-size: 16px;
    }

    @include XX-Large {
        font-size: 18px;
    }

    @include XXX-Large {
        font-size: 20px;
    }

    @include XXXX-Large {
        font-size: 22px;
    }
}
@mixin button_border {
    background: transparent;
    border-radius: 4px;
    padding: 15px 29px;
    font-family: "Oxanium";
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    border: 2px solid #ad1aaf;
    text-transform: capitalize;
    @include X-Small {
        font-size: 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 14px;
    }
    @include X-Large {
        font-size: 16px;
    }

    @include XX-Large {
        font-size: 18px;
    }

    @include XXX-Large {
        font-size: 20px;
    }

    @include XXXX-Large {
        font-size: 22px;
    }
}
@mixin button_circle {
    background: transparent;
    border-radius: 50px;
    padding: 15px 29px;
    font-family: "Oxanium";
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    border: 2px solid #ad1aaf;
    text-transform: capitalize;
    @include X-Small {
        font-size: 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 14px;
    }
    @include X-Large {
        font-size: 16px;
    }

    @include XX-Large {
        font-size: 18px;
    }

    @include XXX-Large {
        font-size: 20px;
    }

    @include XXXX-Large {
        font-size: 22px;
    }
}
@mixin card_title {
    text-transform: capitalize;
    color: #fff;
    font-family: "Oxanium";
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    @include X-Small {
        font-size: 11px;
    }
    @include Small {
        font-size: 13px;
    }

    @include Medium {
        font-size: 15px;
    }

    @include Large {
        font-size: 17px;
    }
    @include X-Large {
        font-size: 19px;
    }

    @include XX-Large {
        font-size: 21px;
    }

    @include XXX-Large {
        font-size: 23px;
    }

    @include XXXX-Large {
        font-size: 25px;
    }
}
@mixin dsc-card {
    font-family: "Lato";
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 0;
    @include X-Small {
        font-size: 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 12px;
    }
    @include X-Large {
        font-size: 12px;
    }

    @include XX-Large {
        font-size: 14px;
    }

    @include XXX-Large {
        font-size: 14px;
    }

    @include XXXX-Large {
        font-size: 14px;
    }
}
@mixin caption-md {
    font-family: "Oxanium";
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    @include X-Small {
        font-size: 12px;
    }
    @include Small {
        font-size: 12px;
    }

    @include Medium {
        font-size: 12px;
    }

    @include Large {
        font-size: 14px;
    }
    @include X-Large {
        font-size: 14px;
    }

    @include XX-Large {
        font-size: 16px;
    }

    @include XXX-Large {
        font-size: 17px;
    }

    @include XXXX-Large {
        font-size: 17px;
    }
}

// Responsive

$X-Small: 320px;
$Small: 576px;
$Medium: 768px;
$Large: 992px;
$X-Large: 1200px;
$XX-Large: 1400px;
$XXX-Large: 1500px;
$XXXX-Large: 1920px;

// X- Small devices (landscape phones, 320px and up)
@mixin X-Small {
    @media (min-width: #{$X-Small}) {
        @content;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin Small {
    @media (min-width: #{$Small}) {
        @content;
    }
}

// Medium devices (tablets, 768px and up)
@mixin Medium {
    @media (min-width: #{$Medium}) {
        @content;
    }
}

// Large devices (desktops, 992px and up)
@mixin Large {
    @media (min-width: #{$Large}) {
        @content;
    }
}

// X-Large devices (large desktops, 1200px and up)
@mixin X-Large {
    @media (min-width: #{$X-Large}) {
        @content;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin XX-Large {
    @media (min-width: #{$XX-Large}) {
        @content;
    }
}

//XXX-Large devices (larger desktops, 1500px and up)
@mixin XXX-Large {
    @media (min-width: #{$XXX-Large}) {
        @content;
    }
}

// XXXX-Large devices (larger desktops, 1920px and up)
@mixin XXXX-Large {
    @media (min-width: #{$XXXX-Large}) {
        @content;
    }
}
