* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    background: $background;
    background-image: url(/public/img/Glowing\ Vectors.svg);
    background-repeat: no-repeat;
    max-width: 1920px;

    font-family: "Lato", sans-serif;
    font-size: 16px;
}
ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;
    &:hover {
        color: #fff;
    }
}

hr {
    margin: 0;
}
.ctn {
    width: 90%;
    margin: 0 auto;
}
.section {
    padding: 10rem 0;
}

@include X-Small {
    .ctn {
        width: 90%;
        margin: 0 auto;
    }
    .section {
        padding: 2rem 0;
    }
}
@include Small {
    .ctn {
        width: 95%;
        margin: 0 auto;
    }
    .section {
        padding: 2rem 0;
    }
}

@include Medium {
    .ctn {
        width: 90%;
        margin: 0 auto;
    }
    .section {
        padding: 4rem 0;
    }
}

@include Large {
    .ctn {
        width: 90%;
        margin: 0 auto;
    }
    .section {
        padding: 4rem 0;
    }
}
@include X-Large {
    .ctn {
        width: 90%;
        margin: 0 auto;
    }
    .section {
        padding: 4rem 0;
    }
}

@include XX-Large {
    .ctn {
        width: 90%;
        margin: 0 auto;
    }
    .section {
        padding: 6rem 0;
    }
}

@include XXX-Large {
    .ctn {
        width: 90%;
        margin: 0 auto;
    }
    .section {
        padding: 8rem 0;
    }
}

@include XXXX-Large {
    .ctn {
        width: 90%;
        margin: 0 auto;
    }
    .section {
        padding: 10rem 0;
    }
}

.h1-bold {
    @include h1-bold();
}
.h2-bold {
    @include h2-bold();
}
.h2-bold-left {
    @include h2-bold();
    text-align: left;
}
.h3-bold {
    @include h3-bold();
}
.body-lg {
    @include body-lg();
}
.body-lg-white {
    @include body-lg-white();
}
.body-sm {
    @include body-sm();
}
.caption {
    @include caption();
}
.card_title {
    @include card_title();
}
.dcs-card {
    @include dsc-card();
}
.caption-md {
    @include caption-md();
}
.dcs-title {
    @include dcs-title();
}
.dcs-body {
    @include dcs-body();
}
.link-main {
    @include link-main();
}
// Button
button.button_fill {
    &:focus {
        background: linear-gradient(180deg, #ad1aaf 0%, rgba(173, 26, 175, 0) 100%);
    }
}
button.button_border {
    &:focus {
        background: transparent;
    }
}
.button_fill {
    @include button_fill();
    &:hover {
        transform: scale(1.05);
    }
}
.button_border {
    @include button_border();
    transition: 0.5s;
    &:hover {
        border: 2px solid rgba(99, 13, 100, 0.7);
        transform: scale(1.05);
    }
}
.button_circle {
    @include button_circle();
    &:hover {
        border: 2px solid rgba(99, 13, 100, 0.7);
        transform: scale(1.05);
    }
}

// main title
.title_main {
    .h2-bold-left {
        margin-bottom: 0;
        line-height: 1;
    }
}
// owl carousel
.owl-carousel .owl-item img {
    display: block;
    width: fit-content;
}
